<template>
  <div class="ui segment">
    <h3 class="ui header">
      Edit Profile
      <profile-form v-model="profile" @save="saveProfile" @cancel="back"></profile-form>
      {{profile}}
    </h3>
  </div>
</template>

<script>
import { Me } from '../services'
import ProfileForm from './ProfileForm'

export default {
  components: {
    ProfileForm
  },
  data: () => ({
    profile: {
      name: '',
      description: ''
    }
  }),
  created () {
    // Me.get((data) => {
    //   this.profile = data
    // })
    Me.get()
      .then((data) => {
        this.profile = data
      })
  },
  methods: {
    saveProfile () {
      Me.set(this.profile)
        .then(() => {
          this.back()
        })
    //   User.set(Auth.getCurrentUser().uid, this.profile)
    //     .then( () => {
    //       this.back()
    //     })
    },
    back () {
      this.$router.push('/profile')
    }
  }
}
</script>